{
    "name": "Dev server",
    "baseurl": "/",
    "datamodelpath": "../example",
    
    "datawarehouses": [{
        "code": "my_dw_id",
        "name": "User friendly name",
        "schema": "schema",
        "config": {
            "dbname": "linkorb_sandbox_bisight"
        }
    }]
}
