{
    "name": "Dev server",
    "baseurl": "",
    "datamodelpath": "../path/to/datamodel",
    
    "datawarehouses": [
        {
            "code": "my_dw_id",
            "name": "User friendly name",
            "config": {
                "dbname": "dbname"
            }
        }
    ]
}
