{% extends "layout.html.twig" %}

{% block content %}
<h1>Tables</h1>


{% for table in tables %}
    <h4>
        <i class="fa fa-table"></i>
        <a href="{{ path("table_view", { dwcode: datawarehouse.getCode(), tablename: table.name })}}">{{ table.name}}</a>
    </h4>
{% endfor %}

{% endblock %}
