{% extends "layout.html.twig" %}

{% block content %}
<h1>Reports</h1>
<p>These are the reports available for this datawarehouse</p>

{% for report in reports %}
    <h4>
        <i class="fa fa-bar-chart"></i>
        <a href="{{ path("report_view", { dwcode: datawarehouse.getCode(), reportname: report.getName() })}}">{{ report.getName() }}</a>
    </h4>
{% endfor %}

{% endblock %}
