{% extends "layout.html.twig" %}

{% block content %}
<h1><i class="fa fa-bar-chart"></i> Report "{{ report.getLabel() }}" ({{ report.getName() }})</h1>
<p>{{ report.getDescription() }}</p>

{{ tablehtml|raw }}

{% endblock %}
