{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h1>Tables</h1>
<p>These are the raw data tables stored in this warehouse</p>

{% for table in tables %}
    <h4>
        <i class="fa fa-table"></i>
        <a href="{{ path("table_view", { tablename: table.name })}}">{{ table.name }}</a>
    </h4>
{% endfor %}

{% endblock %}
