{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h1>Lattice Reports</h1>
<p>These are the lattice reports available for this datawarehouse</p>

{% for report in reports %}
    <h4>
        <i class="fa fa-bar-chart"></i>
        <a href="{{ path("lattice_report_view", { reportname: report.getName() })}}">{{ report.getName() }}</a>
    </h4>
{% endfor %}

{% endblock %}
