{% extends "layout.html.twig" %}

{% block content %}
<h1>Datasets</h1>
<p>These are the datasets stored in this datawarehouse</p>

{% for dataset in datasets %}
    <h4>
        <i class="fa fa-sitemap"></i>
        <a href="{{ path("dataset_view", { dwcode: datawarehouse.getCode(), dscode: dataset.getName() })}}">{{ dataset.getName() }}</a>
    </h4>
{% endfor %}

{% endblock %}
